# SPDX-License-Identifier: MIT
# SPDX-FileCopyrightText: 2023 Lucca Baumgärtner <lucca.baumgaertner@fau.de>
# SPDX-FileCopyrightText: 2023 Sophie Heasman <sophieheasmann@gmail.com>
# SPDX-FileCopyrightText: 2023 Felix Zailskas <felixzailskas@gmail.com>
# SPDX-FileCopyrightText: 2023 Fabian-Paul Utech  <f.utech@gmx.net>
# SPDX-FileCopyrightText: 2023 Ruchita Nathani <Ruchita.nathani@fau.de>
# SPDX-FileCopyrightText: 2023 Ahmed Sheta <ahmed.sheta@fau.de>

GOOGLE_PLACES_API_KEY=
OPEN_AI_API_KEY=

# Need to be set when 'DATABASE_TYPE' is 'S3'
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# Choose between 'Local' and 'S3'
DATABASE_TYPE=
